Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema 
    xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://rodimaz.github.io/Assignment4-CSE445/"
	xmlns:bs="https://rodimaz.github.io/Assignment4-CSE445/Hotels.xsd"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <element name="Hotels" type="HotelsType"/>

    <complexType name="HotelsType">
        <sequence>
            <element name="Hotel" type="HotelDetails" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
    </complexType>

    <complexType name="HotelDetails">
        <sequence>
            <element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <element name="Phone" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
            <element name="Address" type="AddressType" minOccurs="1" maxOccurs="1"/>
        </sequence>
        <attribute name="Rating" type="xsd:decimal" use="optional"/>
    </complexType>

    <complexType name="AddressType">
        <sequence>
            <element name="Number" type="xsd:string"/>
            <element name="Street" type="xsd:string"/>
            <element name="City" type="xsd:string"/>
            <element name="State" type="xsd:string"/>
            <element name="Zip" type="xsd:string"/>
        </sequence>
        <attribute name="NearestAirport" type="xsd:string" use="required"/>
    </complexType>

</schema>
